~$Base.SLDPRT
~$FirstArm.SLDPRT
~$FirstDegree.SLDPRT
~$MAC.SLDASM
~$SecondArm.SLDPRT
~$wRIST.SLDPRT
~$Potentiometer Rough Model.SLDPRT
~$Wrist assem.SLDASM
~$Wrist axel.SLDPRT
~$Wrist bearing.SLDPRT
~$Wrist Link 1.SLDPRT
~$Wrist Link 2.SLDPRT
~$Wrist Link 3.SLDPRT
